<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saladooo</title>

    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/partials/initialPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <header>
            <img class="search" src="/images/search.svg" alt="Procurar">
            <img class="logo" src="/images/logo.svg" alt="logo">

            <ul>
                <li>
                    <a href="#"><div class="btn">Perfil</div></a>
                </li>
                <li>
                    <a href="#"><div class="btn">Contact Us</div></a>
                </li>
                <li>
                    <a href="#"><div class="btn select">Order now</div></a>
                </li>
            </ul>

            <div class="barries">
                <div></div>
                <div class="little"></div>
            </div>
        </header>

        <main>
            <div class="index">
                <h1>Fresh Healthy</h1>
                <h2>Delicious Salads</h2>
                <p>We made fresh and healthy foods</p>

                <div class="mainImg">
                    <img src="/images/steak.png" alt="Main salad">
                </div>
            </div>
            
            <div class="area">
                <div class="options">
                    <div class="salads">
                        <button class="btnOptions select">Salads</button>
                    </div>
                    <div class="soups">
                        <button class="btnOptions">Soups</button>
                    </div>
                    <div class="drinks">
                        <button class="btnOptions">Drinks</button>
                    </div>
    
                    <a href="#" class="adj"><img src="/images/adjustment.svg" alt="Adjustments"></a>
    
                </div>
    
                <div class="salad salmao">
                    <img class="saladImg" src="/images/salmao.png" alt="Mix salad">
                    <div class="texts">
                        <h3>Salmao salad</h3>
                        <p>Vegetables with salmao</p>
                        <strong>$26,00</strong>
                    </div>
                    <button><img src="/images/plus.svg" alt="Add"></button>
                </div>
                <div class="salad caesar">
                    <img class="saladImg" src="/images/caesar.png" alt="Quinoa salad">
                    <div class="texts">
                        <h3>Caesar salad</h3>
                        <p>Grilled chicken and more</p>
                        <strong>$22,00</strong>
                    </div>
                    <button><img src="/images/plus.svg" alt="Add"></button>
                </div>
                <div class="salad chicken">
                    <img class="saladImg" src="/images/chicken.png" alt="Avocado salad">
                    <div class="texts">
                        <h3>Chicken salad</h3>
                        <p>Citrus chicken</p>
                        <strong>$24,00</strong>
                    </div>
                    <button><img src="/images/plus.svg" alt="Add"></button>
                </div>
                <div class="salad beansballs">
                    <img class="saladImg" src="/images/beansballs.png" alt="Green salad">
                    <div class="texts">
                        <h3>Beansballs salad</h3>
                        <p>Mixed greens, beansballs</p>
                        <strong>$30,00</strong>
                    </div>
                    <button><img src="/images/plus.svg" alt="Add"></button>
                </div>
                <div class="spaceFooter"></div>
            </div>
        </main>

        <footer>
            <div class="navBar">
                <ul>
                    <li><a href="#"><img src="/images/home.svg" alt="Home"></a></li>
                    <li><a href="#"><img src="/images/credit.svg" alt="Shopping"></a></li>
                    <li><a href="#"><img src="/images/suport.svg" alt="Suport"></a></li>
                    <li><a href="#"><img src="/images/user.svg" alt="User"></a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>